/*General style variables*/
$borderWidth: 6px;
/*Great Hall variables*/
$GHBackColor: #210039; /*midnight blue*/
$GHPrimaryColor: #E2B8FF; /*royal purple*/
$GHSecondaryColor: #529027; /*chartreuse  */

/*Gryffindor variables*/
$GryffBackground: #b31b1b; /* */
$GryffMainColor: #F28F1C; /*cherry*/
$GryffSecondaryColor: #FFD700;/*yellow gold*/

/*Hufflepuff variables*/
$HuffBackground: #000000; /*black*/
$HuffMainColor: #FFFD01; /*bright yellow*/
$HuffSecondaryColor: ##FFE5AD; /*honey yellow*/

/*Ravenclaw variables*/
$RavenBackground: #162252; /*navy*/
$RavenMainColor: #DBB539; /* bronze*/
$RavenSecondaryColor: #9FB6CD; /*cobalt*/

/*Slytherin variables*/
$SlyBackground:	#003407; /*dark sea green*/
$SlyMainColor: 	#C1CDCD;/*#2a6e29; emerald green*/
$SlySecondaryColor: #c7c7c7; /*steel grey*/

.house {
    text-align: center;
    margin: 10px;
    /*still need to make headers responsive*/
    h1 {
      font-size: 1vw; font-weight: bold;  font-family: Luminari, fantasy;
    }
    h2, h3, h4, h5, h6, a {
      font-family: Apple Chancery, cursive; font-weight: bold;
    }
    p {
      font-size: 22;
    }
    ul {
      text-align: left;  font-size: 26;
      li{
        font-size: 20;
      }
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        div {
          font-size: 20px;  margin: 20px; padding: 20px;
        }
        /*table font size still not applied*/
        table {
          th {
            font-size: 40; font-weight: bold;
          }
          td {
            font-size: 24;  font-weight: normal;
          }
        }
    }
}

nav-link {
  font-family: Arial, bold;
  font-weight: bold;
  font-size: 25px;
}

.pageGuide {
  font-style: bold;
}

.greatHall {
  @extend .house;
  background-color: $GHBackColor;
  color: $GHSecondaryColor;
  h1, h2, h3, h4, h5, h6, a {
    color: $GHSecondaryColor;
  }
  .container {
      div {
        border: $borderWidth solid $GHSecondaryColor;
        background-color: $GHPrimaryColor;
      }
    }
}

.gryffindor {
  @extend .house;
  background-color: $GryffBackground;
  color: $GryffSecondaryColor;
  h1, h2, h3, h4, h5, h6 {
    color: $GryffMainColor;
  }
  div {
    border: $borderWidth solid $GryffSecondaryColor;
  }
}

.hufflepuff {
  @extend .house;
  background-color: $HuffBackground;
  color: $HuffSecondaryColor;
  h1, h2, h3, h4, h5, h6 {
    color: $HuffMainColor;
  }
  .container {
    div, table {
    border: $borderWidth solid $HuffSecondaryColor;
    }
    th, td, tr {
      border: 2px solid $HuffSecondaryColor;
      color: $HuffSecondaryColor;
    }
  }
}

.ravenclaw {
  @extend .house;
  background-color: $RavenBackground;
  color: $RavenSecondaryColor;
  h1, h2, h3, h4, h5, h6 {
    color: $RavenMainColor;
  }
  .container {
    div, table {
    border: $borderWidth solid $RavenSecondaryColor;
    }
    th, td, tr {
      border: 2px solid $RavenSecondaryColor;
      color: $RavenMainColor;
    }
  }
}

.slytherin {
  @extend .house;
  background-color: $SlyBackground;
  color: $SlySecondaryColor;
  h1, h2, h3, h4, h5, h6 {
    color: $SlyMainColor;
  }
  .container {
    div, table, th, td {
      border: $borderWidth solid $SlySecondaryColor;
    }
  }
}
